*.DS_Store filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.egg filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
/tornado_todo.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.ps1 filter=lfs diff=lfs merge=lfs -text
/.venv/bin/activate filter=lfs diff=lfs merge=lfs -text
*.csh filter=lfs diff=lfs merge=lfs -text
*.fish filter=lfs diff=lfs merge=lfs -text
/.venv/bin/convert-caffe2-to-onnx filter=lfs diff=lfs merge=lfs -text
/.venv/bin/convert-onnx-to-caffe2 filter=lfs diff=lfs merge=lfs -text
/.venv/bin/f2py filter=lfs diff=lfs merge=lfs -text
/.venv/bin/f2py3 filter=lfs diff=lfs merge=lfs -text
*.9 filter=lfs diff=lfs merge=lfs -text
/.venv/bin/huggingface-cli filter=lfs diff=lfs merge=lfs -text
/.venv/bin/normalizer filter=lfs diff=lfs merge=lfs -text
/.venv/bin/pip filter=lfs diff=lfs merge=lfs -text
/.venv/bin/pip3 filter=lfs diff=lfs merge=lfs -text
/.venv/bin/sacremoses filter=lfs diff=lfs merge=lfs -text
/.venv/bin/serve_app filter=lfs diff=lfs merge=lfs -text
/.venv/bin/torchrun filter=lfs diff=lfs merge=lfs -text
/.venv/bin/tqdm filter=lfs diff=lfs merge=lfs -text
/.venv/bin/transformers-cli filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/PyYAML-6.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/PyYAML-6.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/PyYAML-6.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/PyYAML-6.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/PyYAML-6.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/certifi-2022.9.14.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/certifi-2022.9.14.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/certifi-2022.9.14.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/certifi-2022.9.14.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/certifi-2022.9.14.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.pem filter=lfs diff=lfs merge=lfs -text
*.typed filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/charset_normalizer-2.1.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/charset_normalizer-2.1.1.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/charset_normalizer-2.1.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/charset_normalizer-2.1.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/charset_normalizer-2.1.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/click-8.1.3.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/click-8.1.3.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/click-8.1.3.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/click-8.1.3.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/filelock-3.8.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/filelock-3.8.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/filelock-3.8.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/filelock-3.8.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/filelock-3.8.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/filelock-3.8.0.dist-info/zip-safe filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/huggingface_hub-0.9.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/huggingface_hub-0.9.1.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/huggingface_hub-0.9.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/huggingface_hub-0.9.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/huggingface_hub-0.9.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/idna-3.4.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/idna-3.4.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/idna-3.4.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/idna-3.4.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/joblib-1.1.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/joblib-1.1.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/joblib-1.1.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/joblib-1.1.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.gzip filter=lfs diff=lfs merge=lfs -text
*.lzma filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.z filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/numpy-1.23.3.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/numpy-1.23.3.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/numpy-1.23.3.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/numpy-1.23.3.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.pxd filter=lfs diff=lfs merge=lfs -text
*.pyi filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.doxyfile filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.fits filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.pyx filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.f90 filter=lfs diff=lfs merge=lfs -text
*.f2py_f2cmap filter=lfs diff=lfs merge=lfs -text
*.f filter=lfs diff=lfs merge=lfs -text
*.mod filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/packaging-21.3.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/packaging-21.3.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
*.APACHE filter=lfs diff=lfs merge=lfs -text
*.BSD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/packaging-21.3.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/packaging-21.3.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/packaging-21.3.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/pip-22.2.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/pip-22.2.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/pip-22.2.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/pip-22.2.2.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/pip-22.2.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/pyparsing-3.0.9.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/pyparsing-3.0.9.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/pyparsing-3.0.9.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/pyparsing-3.0.9.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/pyparsing-3.0.9.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/regex-2022.9.13.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/regex-2022.9.13.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/regex-2022.9.13.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/regex-2022.9.13.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/requests-2.28.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/requests-2.28.1.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/requests-2.28.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/requests-2.28.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/requests-2.28.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/sacremoses-0.0.53-py3.9.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
*.as filter=lfs diff=lfs merge=lfs -text
*.bn filter=lfs diff=lfs merge=lfs -text
*.ca filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.de filter=lfs diff=lfs merge=lfs -text
*.el filter=lfs diff=lfs merge=lfs -text
*.en filter=lfs diff=lfs merge=lfs -text
*.es filter=lfs diff=lfs merge=lfs -text
*.et filter=lfs diff=lfs merge=lfs -text
*.fi filter=lfs diff=lfs merge=lfs -text
*.fr filter=lfs diff=lfs merge=lfs -text
*.ga filter=lfs diff=lfs merge=lfs -text
*.gu filter=lfs diff=lfs merge=lfs -text
*.hi filter=lfs diff=lfs merge=lfs -text
*.hu filter=lfs diff=lfs merge=lfs -text
*.is filter=lfs diff=lfs merge=lfs -text
*.it filter=lfs diff=lfs merge=lfs -text
*.kn filter=lfs diff=lfs merge=lfs -text
*.lt filter=lfs diff=lfs merge=lfs -text
*.lv filter=lfs diff=lfs merge=lfs -text
*.ml filter=lfs diff=lfs merge=lfs -text
*.mni filter=lfs diff=lfs merge=lfs -text
*.mr filter=lfs diff=lfs merge=lfs -text
*.nl filter=lfs diff=lfs merge=lfs -text
*.or filter=lfs diff=lfs merge=lfs -text
*.pa filter=lfs diff=lfs merge=lfs -text
*.pl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.ro filter=lfs diff=lfs merge=lfs -text
*.ru filter=lfs diff=lfs merge=lfs -text
*.sk filter=lfs diff=lfs merge=lfs -text
*.sl filter=lfs diff=lfs merge=lfs -text
*.sv filter=lfs diff=lfs merge=lfs -text
*.ta filter=lfs diff=lfs merge=lfs -text
*.tdt filter=lfs diff=lfs merge=lfs -text
*.te filter=lfs diff=lfs merge=lfs -text
*.yue filter=lfs diff=lfs merge=lfs -text
*.zh filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/sentencepiece-0.1.96.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/sentencepiece-0.1.96.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/sentencepiece-0.1.96.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/sentencepiece-0.1.96.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/sentencepiece-0.1.96.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/setuptools-58.1.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/setuptools-58.1.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/setuptools-58.1.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/setuptools-58.1.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/setuptools-58.1.0.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/setuptools-58.1.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.tmpl filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/six-1.16.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/six-1.16.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/six-1.16.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/six-1.16.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/six-1.16.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tokenizers-0.10.3.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tokenizers-0.10.3.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tokenizers-0.10.3.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tokenizers-0.10.3.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/torch-1.12.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/torch-1.12.1.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/torch-1.12.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/torch-1.12.1.dist-info/NOTICE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/torch-1.12.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/torch-1.12.1.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/torch-1.12.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/torch/bin/protoc filter=lfs diff=lfs merge=lfs -text
*.0 filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/torch/bin/torch_shm_manager filter=lfs diff=lfs merge=lfs -text
*.cuh filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.mjs filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.cu filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tornado-6.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tornado-6.2.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tornado-6.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tornado-6.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tornado-6.2.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tornado-6.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.egg-link filter=lfs diff=lfs merge=lfs -text
*.mo filter=lfs diff=lfs merge=lfs -text
*.po filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.crt filter=lfs diff=lfs merge=lfs -text
*.key filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tqdm-4.64.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tqdm-4.64.1.dist-info/LICENCE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tqdm-4.64.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tqdm-4.64.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/tqdm-4.64.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/transformers-4.10.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/transformers-4.10.2.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/transformers-4.10.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/transformers-4.10.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/transformers-4.10.2.dist-info/REQUESTED filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/transformers-4.10.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/typing_extensions-4.3.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/typing_extensions-4.3.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/typing_extensions-4.3.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/typing_extensions-4.3.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/typing_extensions-4.3.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/urllib3-1.26.12.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/urllib3-1.26.12.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/urllib3-1.26.12.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/.venv/lib/python3.9/site-packages/urllib3-1.26.12.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
